<% unless current_user %>
<p class="help">FurueruはTwitterのアイコンをふるえさせることができるサービスです.</p>
<p class="help">サービスを利用するためにはoAuth認証が必要です.<br />下のリンクから認証してください.</p>
<p><a href="./oauth">ログイン</a>してふるえる</p>
<% else %>
<p>ふるえかたを選んでください.</p>
<form>
  ぷるぷる<input type="radio" id="purupuru" name="type" checked="false" />
  ゆらゆら<input type="radio" id="yurayura" name="type" checked="false" />
  ぐらぐら<input type="radio" id="guragura" name="type" checked="false" />
  <input type="hidden" id="image-token" name="token" value="<%= current_user.token %>" />
</form>
<table>
  <tr>
    <td><img class="icon" src="<%= h current_user.profile_image_url %>"/></td> 
    <td><p class="result">→</p></td>
    <td><img class="result icon"></td>
  </tr>
</table>
<form method="post" action="update" class="result">
  <input type="hidden" id="update-token" name="token" value="<%= current_user.token %>" />
  <input type="hidden" id="update-image-path" name="path" value="" />
  <input type="submit" id="update-image" value="ふるえるアイコンに変更する" />
</form>
<% end %>
