<description>Furueruはアイコンを震えさせる新感覚ウェブサービスです.</description>
<br/>
<br/>
<% unless current_user %>
<a href="./oauth">ログイン</a>して震える.</p>
<% else %>
<div id="main">
  <p>震えかたを選んでください.</p>
  <form>
    ぷるぷる<input type="radio" id="purupuru" name="type" checked="false" />
    ゆらゆら<input type="radio" id="yurayura" name="type" checked="false" />
    ぐらぐら<input type="radio" id="guragura" name="type" checked="false" />
  </form>
  <table>
    <tr>
      <td><img class="icon" src="<%= current_user.image_path %>"/></td> 
      <td><p class="result">→</p></td>
      <td><img class="result icon"/></td>
    </tr>
  </table>
  <form method="post" action="update">
    <input type="hidden" id="decide" name="path" val="" />
    <input type="submit" value="アイコンを変更する" />
  </form>
</div>
<% end %>


