<% unless current_user %>
<p class="help">KatamaruはTwitterのアニメーションアイコン止めることができるサービスです.</p>
<p class="help">サービスを利用するためにはoAuth認証が必要です.<br />下のリンクから認証してください.</p>
<p><a href="./oauth">ログイン</a>してとめる</p>
<% else %>
<p>とめかたを選んでください.</p>
<form>
  <input type="hidden" id="image-token" name="token" value="<%= current_user.token %>" />
</form>
<table>
  <tr>
    <td><img class="icon" src="<%= h current_user.profile_image_url %>"/></td> 
    <td><p class="result">→</p></td>
    <td><img class="result icon"></td>
  </tr>
</table>
<form method="post" action="update" class="result">
  <input type="hidden" id="update-token" name="token" value="<%= current_user.token %>" />
  <input type="hidden" id="update-image-path" name="path" value="" />
  <input type="submit" id="update-image" value="動かないアイコンに変更する" />
</form>
<% end %>
