<% unless current_user %>
<p class="help">KatamaruはTwitterのアニメーションアイコン止めることができるサービスです.</p>
<p class="help">サービスを利用するためにはoAuth認証が必要です.<br />下のリンクから認証してください.</p>
<p><a href="./oauth">ログイン</a>してとめる</p>
<% else %>
<p>とめかたを選んでください.</p>
<form method="post" action="katamaru">
<input type="hidden" id="update-token" name="token" value="<%= current_user.token %>" />
  <table>
    <tr>
      <td>
	<label for="image1">
	  <img class="icon" src="<%= current_user.img_path+"-ctrue.gif"%>">
	</label>
      </td>
      <td>
	<label for="image2">
	  <img class="icon" src="<%= current_user.img_path+"-cfalse.gif"%>">
	</label>
      </td>
    </tr>
    <tr>
      <td><input type="radio" value="true" name="select" id="image1"></td>
      <td><input type="radio" value="false" name="select" id="image2"></td>
    </tr>
  </table>
  <br />
  <input type="submit" value="決定">
</form>
<% end %>
