<html>
  <head>
    <link rel="stylesheet" href="css/furueru.css" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script type="text/javascript" src="js/jquery.form.js"></script>
    <script type="text/javascript" src="js/furueru.js"></script>
    <title>Furueru</title>
  </head>
  <body>
    <div id="container-all">
      <div id="header">
	<div id="title-logo">
	  <a href="."><h1>#Furueru</h1></a>
	  <description id="subtitle">~~ ふるえる ~~</description>
	</div>
	<div class="clear"></div>
      </div>
      <div id="main">
	<%= yield %>
	<div class="clear"></div>
      </div>
      <div id="adsense">
      </div>
      <p id="footer">Furueru ~~ ふるえる ~~ (<a href="http://blog.phelrine.com/">phelrine</a>)</p>
    </div>
  </body>
</html>
