<p>アイコンをアップロードしました.</p>
<p>
  <a href=<%= h("http://twitter.com/home?status=" + 
	      uri_encode("かたまる! #katamaru http://goo.gl/O0tmc"))
	      %> 
     >つぶやく</a>
</p>
<p><a href=".">モドル</a></p>
