body {
    background: #888888;
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    margin: auto;
}

div#container_all {
    margin: auto;
    width: 800px;
    margin: auto;
    padding: 1em;
}

div#header, div#garally, div.left, div.right {
    background: white;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    border-radius: 1em;
    text-align: center;
}

div#header, div#garally {
    text-align: left;
}

div.left {
    float: left;
    width: 60%;
}

div.right {
    float: right;
    width: 30%;
}

#main div.left, #main div.right {
    height: 300px;
}

#title-logo {
    margin-left: 1em;
    float: left;
}

#title-logo h1, #title-logo description {
    margin-top: 0em;
    color: black;
    text-shadow: gray 10px 8px 4px;
}

#login-menu {
    font-size: small;
    text-align: right;
    padding: 0.5em;
    margin-top: 0px;
    float: right;
    border-radius: 1em;
}

#main img.icon {
    border-radius: 16px;
    width: 128px;
}

#main p.help {
    text-align: left;
}

#garally h2, #garally p {
    margin-top: 0em;
    margin-bottom: 0.5em
}

#garally img {
    border-radius: 0.5em;
    width: 64px;
    height: 64px;
}

.result {
    display: none;
}

p.result, form.result {
    margin: 20px;
}

.clear {
    clear: both;
}

p#footer {
    background: white;
    text-align: center;
    font-size: small;
    border-radius: 1em;
}